// 颜色获取地址中国色
$red: #ed556a !default; //山茶红
$blue: #5698c3 !default; //晴蓝
$blue2: #2376b7 !default; //天蓝
$blue3: #2f90b9 !default; //云山蓝
$green: #12aa9c !default; //美蝶绿
$yellow: #f8c387 !default; //蛋壳黄
$grey: #d9d9d9 !default; //珍珠灰色
$purple: #ad6598 !default; //豆蔻紫
$pink: #ea7293 !default; //丹紫红
$cyan:#51c4d3 !default; // 瀑布蓝